# Dependências
node_modules/

# Build de produção
dist/

# Logs e arquivos de sistema
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# Configurações locais de IDEs 
.vscode/
.idea/